{% extends 'navbar.html' %}
{% load static %}
{% block titulo %}Restablecer contraseña{% endblock %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'css/mod_restablecer_contraseña.css' %}?v={% now 'U' %}">
<div class="card-confirm">
    <br><h2>Restablecer contraseña</h2>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password1" class="form-label">Nueva contraseña:</label>
            <input type="password" name="new_password1" id="new_password1" class="form-control" required placeholder="Digita tu nueva contraseña">
        </div>

        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirmar nueva contraseña:</label>
            <input type="password" name="new_password2" id="new_password2" class="form-control" required placeholder="Digita tu nueva contraseña">
        </div>

        <button type="submit" class="btn">Restablecer</button>
    </form>
    {% endif %}
</div>
{% endblock %}