html{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background: rgba(19, 104, 161, 0.411);
    position: relative;
    top: 27vh;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
form{
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 30px 30px 30px 30px;
    height: 30vh;
}
/* Estilo del botón */
button[type="submit"] {
    background-color: rgb(0, 58, 218);
    color: white;
    font-weight: bold;
    border: none;
    height: 6vh;
    width: 35vh;
    border-radius: 20px;
    position: relative;
    left: 3vh;
    bottom: -1vh;
    cursor: pointer;
}

/* Estilo cuando el botón es hover */
button[type="submit"]:hover {
    background-color: rgb(33, 74, 187);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Estilo cuando el botón está deshabilitado */
button[type="submit"]:disabled {
    background-color: #cccccc; /* Color de fondo gris */
    color: #666666;
    cursor: not-allowed; /* Cambia el cursor a no permitido */
    border: none;
    height: 6vh;
    width: 35vh;
    border-radius: 20px;
    position: relative;
    left: 3vh;
    bottom: -1vh;
}
input, .form-select{
    margin-bottom: 15vh;
    margin-right: 10vh;
    border: none;
    border-radius: 20px;
    height: 4vh;
    width: 35vh;
    
}
label{
    display: block;
}
